@use 'importer';
@use 'sass:color';

body {
	background: url('/img/7205.webp') center/cover no-repeat;
	background-attachment: fixed;
	//background-color: #cdcccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	display: grid;
	width: 100%;
	max-width: 900px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	margin: 40px auto 40px;
	grid-template-columns: 1fr 2fr;

	@media (max-width: 768px) {
		grid-template-columns: 1fr; /* Одна колонка */
		grid-template-rows: auto auto; /* Две строки */
		height: auto; /* Автовысота */
		margin: 20px; /* Уменьшаем отступы */
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 500;
}
